<%= @invoice.description.html_safe  %>
<br/>
<br/>
<a href="http://www.sitourtravel.com/confirmpayment/<%=@invoice.invoice_no%>">http://www.sitourtravel.com/confirmpayment/<%=@invoice.invoice_no%></a>

