<div class="header">
  <h3 style="color: #FFF;"> Listing hotels </h3>
</div>
<div class="subheader">
  <a href="#newHotelModal" class="btn pull-right" data-toggle="modal"><i class="icon-plus-sign"></i>Add Hotel</a>
</div>

<div class="mainbody">
 <table class="t1  table-striped ">
  <tr>
    <th>Logo</th>
    <th>Name1</th>
    <th>Address1</th>
    <th>Street</th>
    <th>Province</th>
    <th>Country</th>
    <th>Star</th>
    <th>Isactive</th>
    <th></th>
  </tr>

<%= render :partial => 'hotels', collection: @hotels, as: :hotel %>
</table>

<br />

<div id="newHotelModal" class="modal hide fade" >
    <button type="button" class="close" data-dismiss="modal">×</button></h1>
    <div class="page-header">
        <h3>Quick Add New Hotel </h3>
    </div>

    <%= render :partial => 'shortform' %>
</div>
<div class="footer">
</div>
